@import '@angular/material/prebuilt-themes/rose-red.css';

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #faeff3; 
}

* {
  box-sizing: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
